.header {
    background-color: crimson;
    height: 80px;
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .header {
        background-color: crimson;
        background-color: crimson;
        height: 80px;
        width: 640px;
        margin: 0 auto;
    }
}

.header-title {
    background-color: crimson;
    height: 60px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 750px) {
    .header-title {
        background-color: crimson;
        background-color: crimson;
        height: 60px;
        width: 640px;
        margin: 0 auto;
        position: relative;
    }
}

.header-title-img {
    z-index: 10;
    width: 160px;
    height: 170px;
    background-color: white;
    color: white;
    border: solid;
}

@media (max-width: 750px) {
    .header-title-img {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 80px;
        width: 80px;
    }
}


.header-title-direct {

    color: white;
    height: 40px;
    width: 300px;
    position: absolute;
    left: 200px;
    top: 30px;
}

@media (max-width: 750px) {
    .header-title-direct {
        position: absolute;
        top: 0px;
        left: 100px;

    }
}

.header-title-mail {

    color: white;
    height: 100px;
    width: 350px;
    position: absolute;
    top: 30px;
    left: 500px;
    font-size: 20px;
}

@media (max-width: 750px) {
    .header-title-mail {
        background-color: crimson;
        width: auto;
        position: absolute;
        top: 40px;
        left: 100px;
        font-size: 25px;
        height: 30px;
    }
}

.hamburger {
    display: none;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        position: absolute;
        top: -10px;
        left: -30px;
    }
}

@media (max-width: 750px) {
    .sp-hamburger {
        background-color: white;
        height: 70px;
        width: 70px;
        z-index: 10;
        position: absolute;
        top: 25px;
        left: 600px;
        color: crimson;
    }
}


.header-title2 {

    height: 100px;
    width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.phoneLogo {
    position: absolute;
    top: 45px;
    left: 190px;
}

@media (max-width: 750px) {
    .phoneLogo {
        position: absolute;
        top: 40px;
        left: 60px;
    }
}

.header-title-direct2 {
    color: black;
    height: 40px;
    width: 300px;
    position: absolute;
    left: 240px;
    top: 40px;
    font-size: 30px;
}

@media (max-width: 750px) {
    .header-title-direct2 {
        width: auto;
        position: absolute;
        top: 30px;
        left: 100px;
        font-size: 40px;
    }
}

.header-title-mail2 {

    color: white;
    height: 100px;
    width: 350px;
    position: absolute;
    top: 30px;
    left: 500px;
    font-size: 20px;
}

@media (max-width: 750px) {
    .header-title-mail2 {
        color: white;
        height: 100px;
        width: 350px;
        position: absolute;
        top: 30px;
        left: 500px;
        font-size: 20px;
    }
}

.header-title-mail2-img {
    width: 300px;
}

@media (max-width: 750px) {
    .header-title-mail2-img {
        background-color: red;
        width: auto;
        position: absolute;
        top: 30px;
        left: 100px;
        font-size: 50px;
        display: none;
    }
}

.header-title-mail2-img2 {
    display: none;
}

@media (max-width: 750px) {
    .header-title-mail2-img2 {
        background-color: red;
        position: absolute;
        top: 0px;
        right: 200px;
        display: inline;
    }
}

.header-title-mail2-img {
    width: 300px;
}

.nav {

    text-align: center;
}

.nav-1 {
    width: 900px;
    margin: 0 auto;

}

@media (max-width: 750px) {
    .nav-1 {
        background-color: red;
        display: none;
        position: absolute;
        top: 0px;
        display: none;
    }
}

.nav-1-div {
    width: 200px;
    display: inline-block;
}

.lowPrice-reason {
    width: 200px;
    height: 70px;
}

.nav-2-div {
    width: 200px;
    display: inline-block;
}

.customer-voice {
    width: 200px;
    height: 70px;
}


.nav-3-div {

    width: 200px;
    display: inline-block;
}

.Often-question {
    width: 200px;
    height: 70px;
}

.nav-4-div {
    width: 200px;
    display: inline-block;
}

.quotes {
    width: 200px;
    height: 70px;
}

.impactCostDown {
    text-align: center;
}

@media (max-width: 750px) {
    .impactCostDown-img {
        background-color: red;
        display: none;
    }
}

.impactCostDown-img-sp {
    display: none;
}

@media (max-width: 750px) {
    .impactCostDown-img-sp {
        background-color: red;
        display: inline;
    }
}

.postCardFee {
    height: 443px;
    width: 1100px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .postCardFee {
        width: 600px;
        display: block;
    }
}

.postCardFee-img {
    display: inline;
}

@media (max-width: 750px) {
    .postCardFee-img {
        background-color: red;
        display: none;
    }
}

.postCardFee-img-pcTel {
    display: block;
    position: absolute;
    top: 350px;
    left: 600px;

}

@media (max-width: 750px) {
    .postCardFee-img-pcTel {
        display: none;
    }
}

.postbox {
    position: relative;

}

@media (max-width: 750px) {
    .postbox {
        width: 600px;
        margin: 0 auto;
        display: block;
    }
}

.postCardFee-img-sp {
    display: none;
}

@media (max-width: 750px) {
    .postCardFee-img-sp {
        width: 600px;
        margin: 0 auto;
        display: block;
        margin-left: 20px;
    }
}

.postCardFee-telephoneNumber {
    display: none;
}

@media (max-width: 750px) {
    .postCardFee-telephoneNumber {
        display: inline;
        position: absolute;
        top: 800px;
        left: 75px;
    }
}

.quote {
    height: 500px;
    text-align: center;
}

@media (max-width: 750px) {
    .quote {
        height: 500px;
        text-align: center;
    }
}

.quote-div {
    background-color: orange;
    width: 1100px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .quote-div {
        background-color: red;
        display: none;
    }
}

.quote-div-img1 {
    display: inline;
}

@media (max-width: 750px) {
    .quote-div-img1 {
        background-color: red;
        display: none;
    }
}

.quote-div-contactPhone {
    position: absolute;
    top: 150px;
    right: 150px;
}

@media (max-width: 750px) {
    .quote-div-img1 {
        background-color: red;
        display: none;
    }
}

.quote-div-img2 {
    position: absolute;
    top: 300px;
    right: 300px;
}

@media (max-width: 750px) {
    .quote-div-img2 {
        background-color: red;
        display: none;
    }
}

.sp-nav1golden {
    display: none;
}

@media (max-width: 750px) {
    .sp-nav1golden {
        background-color: gold;
        height: 500px;
        width: 600px;
        display: block;
        margin: 0 auto;
        margin-left: 20px;
    }
}

.nav-1-div-img-sp1 {
    display: none;
}

@media (max-width: 750px) {
    .nav-1-div-img-sp1 {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.sp-golds-div {
    display: none;
}

@media (max-width: 750px) {
    .sp-golds-div {
        background-color: white;
        margin: 0 auto;
        width: 580px;
        display: block;
    }
}

.sp-golds-div-1 {
    display: none;
}

@media (max-width: 750px) {
    .sp-golds-div-1 {
        background-color: red;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}

.sp-golds-div-2 {
    display: none;
}

@media (max-width: 750px) {
    .sp-golds-div-2 {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}

.sp-golds-div-3 {
    display: none;
}

@media (max-width: 750px) {
    .sp-golds-div-3 {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 500px;
    }
}



.sp-nav1golden-half {
    display: none;
}

@media (max-width: 750px) {
    .sp-nav1golden-half {
        background-color: white;
        height: 370px;
        width: 700px;
        margin: 0 auto;
    }
}

.nav-1-div-img-sp2 {
    display: none;
}

@media (max-width: 750px) {
    .nav-1-div-img-sp2 {
        background-color: red;
        display: inline;
    }
}

.nav-1-div-img-sp3 {
    display: none;
}

@media (max-width: 750px) {
    .nav-1-div-img-sp3 {
        background-color: red;
        display: inline;
    }
}

.nav-1-div-img-sp4 {
    display: none;
}

@media (max-width: 750px) {
    .nav-1-div-img-sp4 {
        display: inline;
    }
}

.chargeTable {
    height: 681px;
    text-align: center;
}

@media (max-width: 750px) {
    .chargeTable {
        display: none;
    }
}

.chargeTable-div {
    height: 700px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .chargeTable-div {
        display: none;
    }
}

.chargeTable-div-div1 {
    background-color: crimson;
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .chargeTable-div-div1 {
        display: none;
    }
}

@media (max-width: 750px) {
    .chargeTable-div-div-img1 {
        display: none;
    }
}

@media (max-width: 750px) {
    .chargeTable-div-div-img2 {
        display: none;
    }
}

.chargeTable-div-div2 {
    background-color: crimson;
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .chargeTable-div-div2 {
        display: none;
    }
}

@media (max-width: 750px) {
    .chargeTable-div-div-img3 {
        display: none;
    }
}

@media (max-width: 750px) {
    .chargeTable-div-div-img4 {
        display: none;
    }
}

.chargeTable-div-div3 {
    background-color: crimson;
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .chargeTable-div-div3 {
        display: none;
    }
}

@media (max-width: 750px) {
    .chargeTable-div-div-img5 {
        display: none;
    }
}

@media (max-width: 750px) {
    .chargeTable-div-div-img6 {
        display: none;
    }
}

.sp-chargeTable {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable {
        display: block;
        height: 1400px;
        margin: 0 auto;
    }
}

.sp-chargeTable-div {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div {
        display: block;
        height: 2000px;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div1 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div1 {
        display: block;
        height: 450px;
        margin: 0 auto;
        width: 640px;
    }
}

.sp-chargeTable-div-div-img1 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div-img1 {
        display: block;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div-img2 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div-img2 {
        display: block;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div2 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div2 {
        height: 450px;
        display: block;
        margin: 0 auto;
        width: 640px;
    }
}

.sp-chargeTable-div-div-img3 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div-img3 {
        display: block;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div-img4 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div-img4 {
        display: block;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div3 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div3 {
        width: 640px;
        display: block;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div-img5 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div-img5 {
        display: block;
        margin: 0 auto;
    }
}

.sp-chargeTable-div-div-img6 {
    display: none;
}

@media (max-width: 750px) {
    .sp-chargeTable-div-div-img6 {
        display: block;
        margin: 0 auto;
    }
}

.conte2 {
    text-align: center;
}

.conte2-img {
    display: inline;
}

@media (max-width: 750px) {
    .conte2-img {
        background-color: royalblue;
        display: none;
    }
}

.conte2-img-sp {
    display: none;
}

@media (max-width: 750px) {
    .conte2-img-sp {
        background-color: royalblue;
        display: inline;
    }
}

.sp-last-conte-div1 {
    display: none;
    position: relative;
}

@media (max-width: 750px) {
    .sp-last-conte-div1 {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 640px;
        height: 700px;
    }
}

@media (max-width: 750px) {
    .sp-last-conte1 {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

.sp-last-conte2 {
    position: absolute;
    top: 350px;
    left: 75px;
}

.sp-last-conte3 {
    position: absolute;
    top: 510px;
    left: 80px;
    width: 550px;
}

.conte3 {
    text-align: center;
}

@media (max-width: 750px) {
    .conte3 {
        margin: 0 auto;
        position: relative;
    }
}

.pc-conte3 {
    position: relative;
}

@media (max-width: 750px) {
    .pc-conte3 {
        background-color: royalblue;
        display: none;
    }
}

.conte3-img {
    display: inline;
}

@media (max-width: 750px) {
    .conte3-img {
        background-color: royalblue;
        display: none;
    }
}

.pc-telNum {
    position: absolute;
    top: 460px;
    left: 320px;
}

@media (max-width: 750px) {
    .pc-telNum {
        background-color: royalblue;
        display: none;
    }
}

.pc-question {
    position: absolute;
    top: 600px;
    left: 240px;
}

@media (max-width: 750px) {
    .pc-question {
        background-color: royalblue;
        display: none;
    }
}

.conte3-img-sp {
    display: none;
}

@media (max-width: 750px) {
    .conte3-img-sp {
        display: inline;
    }
}

.conte3-img-sp-telephoneNumber {
    display: none;
}

@media (max-width: 750px) {
    .conte3-img-sp {
        position: absolute;
        top: 350px;
        left: 120px;
    }
}

.conte3-img-sp-conteTsForm {
    display: none;
}

@media (max-width: 750px) {
    .conte3-img-sp {
        position: absolute;
        top: 520px;
        left: 100px;
        width: 500px;
    }
}

.lowPrice-reasons {
    text-align: center;
    height: 300px;
}

@media (max-width: 750px) {
    .lowPrice-reasons {
        height: 150px;
    }
}

.lowPrice-reasons-img {
    display: inline;
}

@media (max-width: 750px) {
    .lowPrice-reasons-img {
        background-color: royalblue;
        display: none;
    }
}

.lowPrice-reasons-sp {
    display: none;
}

@media (max-width: 750px) {
    .lowPrice-reasons-sp {
        display: inline;
    }
}

.lowPrice {
    height: 1450px;
    border: 4px solid;
    border-color: pink;
    width: 1100px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .lowPrice {
        height: 1950px;
        border: 4px solid;
        border-color: pink;
        width: 600px;
        margin: 0 auto;
        margin-left: 20px;
    }
}

.sp-first-bar {
    display: none
}

@media (max-width: 750px) {
    .sp-first-bar {
        display: block;
        height: 50px;
    }
}

.lowPrice-div {
    height: 800px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 750px) {
    .lowPrice-div {
        height: 800px;
        position: relative;
    }
}

.lowPrice-div-div {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 750px) {
    .lowPrice-div-div {
        background-color: white;
        margin: 0 auto;
        text-align: center;
        height: 300px;
        position: relative;
    }
}

.lowPrice-div-div-img {
    margin: 0 auto;
    display: inline;
}

@media (max-width: 750px) {
    .lowPrice-div-div-img {
        line-height: 300px;
        display: none;
    }
}

.lowPrice-div-div-img-sp {
    display: none;
}

@media (max-width: 750px) {
    .lowPrice-div-div-img-sp {
        text-align: center;
        display: block;
        line-height: 300px;
        margin: 0 auto;
    }
}

.ipRctP-pc {
    display: block;
    background-color: crimson;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .ipRctP-pc {
        display: none;
    }
}

@media (max-width: 750px) {
    .sp-reason-text01 {
        text-align: center;
        height: 230px;
    }
}

.ipRctP-sp {
    display: none;
}

@media (max-width: 750px) {
    .ipRctP-sp {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}

.ipRct-pc {
    display: inline;
}

@media (max-width: 750px) {
    .ipRct-pc {
        display: none;
    }
}

.sp-image-posting {
    display: none;
}

@media (max-width: 750px) {
    .sp-image-posting {
        text-align: center;
    }
}

.ipRct-sp {
    display: none;
}

@media (max-width: 750px) {
    .ipRctP-sp {
        width: 500px;
        display: block;
        text-align: center;
        height: 200px;
    }
}

.sp-lowPrice-d-d2-p {
    display: none;
}

@media (max-width: 750px) {
    .sp-lowPrice-d-d2-p {
        width: 550px;
        margin: 0 auto;
        font-size: 21px;
        display: block;
    }
}

@media (max-width: 750px) {
    .lowPrice-d-d2-p p {
        position: absolute;
        top: 2500px;
    }
}

.p-1sp {
    background-color: white;
}

.sp-cri-mail-div {
    display: none;
}

@media (max-width: 750px) {
    .sp-cri-mail-div {
        text-align: center;
        display: block;
    }
}

.sp-cri-mail {
    display: none;
}

@media (max-width: 750px) {
    .sp-cri-mail {
        background-color: black;
        display: block;
        margin: 0 auto;
    }
}

.sp-cri-mail2 {
    display: none;
}

@media (max-width: 750px) {
    .sp-cri-mail2 {
        display: block;
        margin: 0 auto;
        margin-right: 10px;
        position: absolute;
        top: 10px;
        left: -20px;
    }
}

.lowPrice-d-d2 {
    height: 250px;
    margin: 0 auto;
    width: 1000px;
}

@media (max-width: 750px) {
    .lowPrice-d-d2 {
        display: block;
        margin: 0 auto;
        width: 520px;
        height: 450px;
    }
}


.sp-sp-Non-arrival-div {
    display: none;
}

@media (max-width: 750px) {
    .sp-sp-Non-arrival-div {
        text-align: center;
    }
}

.sp-Non-arrival {
    display: none;
}

@media (max-width: 750px) {
    .sp-Non-arrival {
        text-align: center;
        margin: 0 auto;
        width: 500px;
    }
}


.lowPrice-d-d2-p {
    width: 480px;
    display: inline-block;
    position: relative;
}

@media (max-width: 750px) {
    .lowPrice-d-d2-p {
        width: 480px;
        display: block;
        position: relative;
        margin-right: 10px;
    }
}

.lowPrice-d-d2-p p {
    position: absolute;
    top: -170px;
}

@media (max-width: 750px) {
    .lowPrice-d-d2-p p {
        position: absolute;
        top: 200px;
        width: 560px;
    }
}


@media (max-width: 750px) {
    .lowPrice-d-d2-p {
        font-size: 21px;
        display: block;
    }
}

.sp-lowPrice-div-div2-p {
    display: none;
}

@media (max-width: 750px) {
    .sp-lowPrice-div-div2-p {
        margin: 0 auto;
        display: block;
        width: 520px;
        font-size: 20px;
    }
}

.lowPrice-criAnt {
    display: inline-block;
    text-align: center;
}

.lowPrice-criAnt-img {
    display: inline-block;
    margin-top: 20px;
}

@media (max-width: 750px) {
    .lowPrice-criAnt-img {
        display: none;
    }
}


.sp-lowPrice-criAnt-img {
    display: none;
}

@media (max-width: 750px) {
    .sp-lowPrice-criAnt-img {
        display: none;
    }
}

.pc-sp-reason {
    text-align: center;
    margin: 0 auto;
}

.pc-div-ipRct-pc {
    margin: 0 auto;
    width: 1000px;
}

.ipRctI-pc {
    display: inline;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .ipRctI-pc {
        display: none;
    }
}

.ipRctI-sp {
    display: none;
}

@media (max-width: 750px) {
    .ipRctI-sp {
        text-align: center;
        display: block;
    }
}

.lowPrice-div-div2 {
    margin: 0 auto;
    width: 1000px;
}

@media (max-width: 750px) {
    .lowPrice-div-div2 {
        width: 560px;
        display: block;
    }
}

.pc-lowPri {
    width: 560px;
    display: inline-block;
    position: relative;
}

.pc-lowPri p {
    position: absolute;
    top: -230px;
}

@media (max-width: 750px) {
    .pc-lowPri {
        font-size: 21px;
        display: block;
        position: absolute;
        top: 1700px;
    }
}

.cost-mail-customer-total {
    text-align: center;
}

.pc-iprC1t2i2 {
    display: inline;
}

@media (max-width: 750px) {
    .pc-iprC1t2i2 {
        display: none;
    }
}

.sp-issR {
    display: none;
}

@media (max-width: 750px) {
    .sp-issR {
        margin: 0 auto;
        display: inline;
        text-align: center;
    }
}

.flexBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: -50px;
}

@media (max-width: 750px) {
    .flexBox {
        background-color: royalblue;
        display: none;
    }
}

.flexBox img {
    height: 100px;
    width: 50px;
}

@media (max-width: 750px) {
    .flexBox img {
        background-color: royalblue;
        display: none;
    }
}

.pc-conte3-img {
    display: inline;
}

@media (max-width: 750px) {
    .pc-conte3-img {
        background-color: royalblue;
        display: none;
    }
}

.sp-conte3-img {
    display: none;
}

@media (max-width: 750px) {
    .sp-conte3-img {
        background-color: royalblue;
        position: relative;
        display: inline;
    }
}

.telNum {
    display: none;
}

@media (max-width: 750px) {
    .telNum {
        position: absolute;
        top: 350px;
        left: 100px;
    }
}

.lowPrice-criAnt2 {
    display: inline-block;
}

.lowPrice-criAnt-img2 {
    display: inline-block;
}

.lowPrice-div-div3-p {
    width: 500px;
    display: inline-block;
}

.lowPrice-criAnt3 {
    display: inline-block;
}

.lowPrice-criAnt-img3 {
    display: inline-block;
}

.lowPrice-criAnt4 {
    background-color: burlywood;
    display: inline-block;

}

.lowPrice-criAnt-img4 {
    display: inline-block;
}

.lowPrice-div-div4-p {
    width: 500px;
    display: inline-block;
}

.lowPrice-criAnt5 {
    display: inline-block;
}

.lowPrice-criAnt-img5 {
    display: inline-block;
}

.sp-last-conte-div {
    display: none;
    position: relative;
}

@media (max-width: 750px) {
    .sp-last-conte-div {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 640px;
        height: 800px;
    }
}

.sp-lastConteBar {
    display: none;
}

@media (max-width: 750px) {
    .sp-lastConteBar {
        display: block;
        height: 50px;
    }
}

.sp-last-conte1 {
    display: none;
}

@media (max-width: 750px) {
    .sp-last-conte1 {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

.sp-last-conte2-add {
    position: absolute;
    top: 350px;
    left: 100px;
}

@media (max-width: 750px) {
    .sp-last-conte2-add {
        position: absolute;
        top: 400px;
        left: 70px;
        display: block;
    }
}

.sp-last-conte3 {
    position: absolute;
    top: 510px;
    left: 80px;
    width: 550px;
}

@media (max-width: 750px) {
    .sp-last-conte3 {
        position: absolute;
        top: 510px;
        left: 80px;
        width: 550px;
    }
}

.costDiv {
    height: 1400px;
    border: 4px solid;
    border-color: pink;
    width: 1100px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .costDiv {
        height: 2250px;
        border: 4px solid;
        border-color: pink;
        width: 600px;
        margin: 0 auto;
        margin-left: 15px;
    }
}

.sp-cost-bar {
    display: none;
}

@media (max-width: 750px) {
    .sp-cost-bar {
        display: block;
        height: 50px;
    }
}


.costDiv-div {
    height: 800px;
    margin: 0 auto;
    position: relative;

}

.costDiv-div-div {
    margin: 0 auto;
    text-align: center;
}

.pc-costDiv-div-div-img {
    margin: 0 auto;
    display: inline;
}

@media (max-width: 750px) {
    .pc-costDiv-div-div-img {
        display: none;
    }
}

.sp-optimal-Suggestion {
    margin: 0 auto;
    display: none;
}

@media (max-width: 750px) {
    .sp-optimal-Suggestion {
        display: block;
    }
}

.pc-iprC2t1 {
    display: block;
}

@media (max-width: 750px) {
    .pc-iprC2t1 {
        display: none;
    }
}

.div-sp-reduceCost-t01 {
    margin: 0 auto;
    text-align: center;
}

.sp-reduceCost-t01 {
    display: none;
}

@media (max-width: 750px) {
    .sp-reduceCost-t01 {
        display: inline;
    }
}

.pc-ourCompany {
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .pc-ourCompany {
        width: 600px;
        margin: 0 auto;
    }
}


.pc-ourCompany-p {
    width: 570px;
    display: inline-block;
    position: relative;
}

.pc-ourCompany-p p {
    position: absolute;
    top: -250px;
}

@media (max-width: 750px) {
    .pc-ourCompany-p p {
        position: absolute;
        top: 300px;
    }
}

@media (max-width: 750px) {
    .pc-ourCompany-p {
        margin: 0 auto;
        display: block;
    }
}

.sp-costDiv-div-div2-p {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-div-div2-p {
        display: block;
    }
}

.sp-div-sp-iprC2t1i {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.sp-plan-Suggestion {
    width: 500px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .sp-plan-Suggestion {
        width: 500px;
        margin: 0 auto;
    }
}

.costDiv-criAnt {
    display: inline-block;
    text-align: center;
}

.pc-iprC2t1i {
    display: inline-block;
}

@media (max-width: 750px) {
    .pc-iprC2t1i {
        background-color: royalblue;
        display: none;
    }
}

.sp-iprC2t1i {
    display: none;
}

@media (max-width: 750px) {
    .sp-iprC2t1i {
        background-color: royalblue;
        text-align: center;
        display: block;
    }
}


.costDiv-criAnt2 {
    display: inline-block;
}

.pc-costDiv-criAnt-img2 {
    display: inline-block;
}

@media (max-width: 750px) {
    .pc-costDiv-criAnt-img2 {
        background-color: royalblue;
        display: none;
    }
}

.sp-costDiv-criAnt-img2 {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-criAnt-img2 {
        background-color: royalblue;
        margin: 0 auto;
        display: block;
        margin-left: 15px;
    }
}

.pc-printedMatter {

    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .pc-printedMatter {
        width: 600px;
        margin: 0 auto;
    }
}

.pc-printedMatter-p {
    width: 580px;
    display: block;
    float: left;
}

@media (max-width: 750px) {
    .pc-printedMatter-p {
        display: block;
        position: absolute;
        top: 1600px;
        margin: 0 auto;
        margin-left: 15px;
    }
}

.sp-costDiv-div-div3-p {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-div-div3-p {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 1100px;
    }
}

.div-sp-redU02 {
    text-align: center;
}

.div-sp-redU02-2 {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.sp-color-print {
    margin: 0 auto;
    width: 500px;

}

@media (max-width: 750px) {
    .sp-color-print {
        margin: 0 auto;
        width: 500px;
    }
}

.costDiv-criAnt3 {
    display: inline-block;
}

.pc-costDiv-criAnt-img3 {
    display: inline-block;
}

@media (max-width: 750px) {
    .pc-costDiv-criAnt-img3 {
        display: none;
    }
}

.sp-costDiv-criAnt-img3 {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-criAnt-img3 {
        display: block;
    }
}

.costDiv-criAnt4 {
    display: inline-block;
}

.pc-costDiv-criAnt-img4 {
    display: inline-block;
}

@media (max-width: 750px) {
    .pc-costDiv-criAnt-img4 {
        display: none;
    }
}

.sp-costDiv-criAnt-img4 {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-criAnt-img4 {
        display: block;
        position: absolute;
        top: 150px;
        left: 80px;
    }
}

.pc-small-lot {
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .pc-small-lot {
        width: 600px;
        margin: 0 auto;
    }
}

.pc-small-lot-p {
    width: 580px;
    display: inline-block;
    position: relative;
}

.pc-small-lot-p p {
    width: 580px;
    display: inline-block;
    position: absolute;
    top: -250px;
}

@media (max-width: 750px) {
    .pc-small-lot-p p {
        display: block;
        position: absolute;
        top: 1200px;
        left: 10px;
    }
}

@media (max-width: 750px) {
    .pc-small-lot-p {
        display: block;
    }
}

.sp-costDiv-div-div4-p {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-div-div4-p {
        display: inline;
    }
}

.sp-div-img4 {
    width: 500px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .sp-div-img4 {
        position: absolute;
        top: 1600px;
    }
}

.sp-costDiv-criAnt-img4 {
    margin: 0 auto;
}

.sp-div-img5 {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.sp-allPartnerTotal {
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
}

.costDiv-criAnt5 {
    display: inline-block;
}

@media (max-width: 750px) {
    .pc-costDiv-criAnt-img5 {
        display: none;
    }
}

.sp-costDiv-criAnt-img5 {
    display: none;
}

@media (max-width: 750px) {
    .sp-costDiv-criAnt-img5 {
        display: block;
        position: absolute;
        top: 1850px;
    }
}

.costDiv-criAnt-img5 {
    display: inline-block;
}

.cv {
    text-align: center;
}

.pc-cv {
    display: inline;

}

@media (max-width: 750px) {
    .pc-cv {
        display: none;
    }
}

.low-reason {
    display: none;
}

@media (max-width: 750px) {
    .low-reason {
        display: none;
    }
}

.pcCustomerBlock {
    background-color: coral;
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .pcCustomerBlock {
        display: none;
    }
}

.pcCustomer {
    background-color: khaki;
    height: 400px;
    text-align: center;
}

.pcCustomer2 {
    background-color: khaki;
    height: 400px;
    text-align: center;
}

.ipc32 {
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .ipc32 {
        display: block;
        height: 50px;
    }
}



.pc-conte3 {
    margin: 0 auto;
    width: 1400px;
    height: 840px;
}

.div-bar {
    display: none;
}

@media (max-width: 750px) {
    .div-bar {
        height: 170px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.cv2 {
    text-align: center;
}

@media (max-width: 750px) {
    .cv2 {
        display: none;
    }
}

.pc-ipCusVo {
    display: inline;
}

@media (max-width: 750px) {
    .pc-ipCusVo {
        display: none;
    }
}

.sp-spQa {
    display: none;
}

@media (max-width: 750px) {
    .sp-spQa {
        display: inline;
    }
}

.sp-bar {
    height: 0px;
}

.sp-div-reason-last {
    display: none;
}

@media (max-width: 750px) {
    .sp-div-reason-last {
        background-color: royalblue;
        text-align: center;
    }
}

.sp-reason-last {
    display: none;
}

@media (max-width: 750px) {
    .sp-reason-last {
        background-color: lawngreen;
        margin: 0 auto;
    }
}

.sp-Quote-tel-Immediately {
    text-align: center;
    border: 4px solid;
    border-color: pink;
    width: 1100px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .sp-Quote-tel-Immediately {
        height: 1100px;
        margin: 0 auto;
        width: 600px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
}


.sp-Quote-tel-Immediately img {
    width: 700px;
}

@media (max-width: 750px) {
    .sp-Quote-tel-Immediately img {
        height: 1000px;
        margin: 0 auto;
        width: 580px;
        line-height: 1100px;
    }
}



.ipCv {
    text-align: center;
    height: 140px;
}

@media (max-width: 750px) {
    .ipCv {
        text-align: center;
    }
}

.pc-service {
    display: inline;
}

@media (max-width: 750px) {
    .pc-service {
        background-color: royalblue;
        display: none;
    }
}

.sp-service {
    display: none;
}

@media (max-width: 750px) {
    .sp-service {
        background-color: royalblue;
        display: inline;
    }
}


.ipsId {
    background-color: wheat;
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .ipsId {
        width: 600px;
        margin: 0 auto;
        height: 1320px;
        background-color: white;
    }
}

.pc-step {
    text-align: center;
    height: 400px;
}

@media (max-width: 750px) {
    .pc-step {
        margin: 0 auto;
        display: none;
    }
}

.sp-step {
    display: none;
}

@media (max-width: 750px) {
    .sp-step {
        margin: 0 auto;
        display: block;
        position: relative;
        width: 640px;
        margin-left: 20px;
    }
}


.sp-step1div {
    display: none;
}

@media (max-width: 750px) {
    .sp-step1div {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 70px;
        left: 130px;
        width: 465px;
    }
}


.sp-step2div {
    display: none;
}

@media (max-width: 750px) {
    .sp-step2div {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 315px;
        left: 130px;
        font-size: 15px;
        width: 450px;
    }
}


.sp-step3div {
    display: none;
}

@media (max-width: 750px) {
    .sp-step3div {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 510px;
        left: 130px;
        font-size: 15px;
    }
}

.last-conte-div {
    position: relative;

}

@media (max-width: 750px) {
    .last-conte-div {
        margin: 0 auto;
        display: block;
        width: 640px;
    }
}

.sp-last-conte1 {
    display: none;
}

@media (max-width: 750px) {
    .sp-last-conte1 {
        margin: 0 auto;
        display: block;
    }
}

.sp-last-conte2 {
    display: none;
}

@media (max-width: 750px) {
    .sp-last-conte2 {
        position: absolute;
        top: 350px;
        left: 75px;
        display: block;
    }
}

.sp-last-conte3 {
    display: none;
    top: 510px;
    left: 80px;
    width: 550px;
}

@media (max-width: 750px) {
    .sp-last-conte3 {
        position: absolute;
        top: 510px;
        left: 50px;
        width: 550px;
        display: block;
    }
}

.ipc32-last {
    height: 840px;
    display: none;
}

@media (max-width: 750px) {
    .ipc32-last {
        height: 320px;
    }
}

.pc-last-conte {
    display: inline;
}

@media (max-width: 750px) {
    .pc-last-conte {
        background-color: royalblue;
        display: none;
    }
}

.sp-last-conte {
    display: none;
}

@media (max-width: 750px) {
    .sp-last-conte {
        background-color: royalblue;
        display: none;
    }
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    width: 1400px;
    margin: 0 auto;
    line-height: 100px;
    font-size: 20px;
}

@media (max-width: 750px) {
    .footer {
        background-color: black;
        color: white;
        text-align: center;
        height: 100px;
        width: 640px;
        margin: 0 auto;
        line-height: 100px;
    }
}
